In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
train_path = "./input/train_local.csv"
test_path = "./input/test_local.csv"

In [3]:
import hashlib

In [4]:
def hash_cat(s):
    return int(hashlib.sha256(s.encode('utf-8')).hexdigest(), 16) % 10**3

In [5]:
cat_dict = []
def hash_cat_two(s):
    if s not in cat_dict:
        cat_dict.append(s)
    return cat_dict.index(s)

In [6]:
import pandas as pd

In [7]:
df_train = pd.read_csv(train_path)

In [8]:
len(df_train)

240000

In [9]:
df_train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,495701,A,J,A,A,F,O,C,E,AX,...,0.387487,0.251159,0.801758,0.553776,0.444780,0.335810,0.345248,0.470157,0.319817,0
1,475514,A,N,A,A,G,BI,E,AV,AG,...,0.592863,0.250877,0.292144,0.358930,0.562570,0.707359,0.632267,0.284889,0.518947,0
2,289595,B,F,D,A,E,BI,A,F,L,...,0.835299,0.837267,0.357749,0.678743,0.575143,0.754098,0.642640,0.958589,0.940756,0
3,290200,B,I,A,A,E,BI,C,K,BM,...,0.369965,0.573459,0.455696,0.800336,0.608690,0.261167,0.493506,0.443034,0.342730,0
4,3547,A,B,D,A,F,BI,A,AS,AX,...,0.694353,0.577407,0.721532,0.487756,0.610030,0.668544,0.360062,0.763265,0.265792,0

In [10]:
cat_col = ['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15',
       'cat16', 'cat17', 'cat18']
cont_col = ['cont0', 'cont1', 'cont2', 'cont3', 'cont4',
       'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10']

In [11]:
cat_dict = []
def hash_cat_two(s):
    if s not in cat_dict:
        cat_dict.append(s)
    return cat_dict.index(s)

In [12]:
df_train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,495701,A,J,A,A,F,O,C,E,AX,...,0.387487,0.251159,0.801758,0.553776,0.444780,0.335810,0.345248,0.470157,0.319817,0
1,475514,A,N,A,A,G,BI,E,AV,AG,...,0.592863,0.250877,0.292144,0.358930,0.562570,0.707359,0.632267,0.284889,0.518947,0
2,289595,B,F,D,A,E,BI,A,F,L,...,0.835299,0.837267,0.357749,0.678743,0.575143,0.754098,0.642640,0.958589,0.940756,0
3,290200,B,I,A,A,E,BI,C,K,BM,...,0.369965,0.573459,0.455696,0.800336,0.608690,0.261167,0.493506,0.443034,0.342730,0
4,3547,A,B,D,A,F,BI,A,AS,AX,...,0.694353,0.577407,0.721532,0.487756,0.610030,0.668544,0.360062,0.763265,0.265792,0

In [13]:
df_train.columns

Index(['id', 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15',
       'cat16', 'cat17', 'cat18', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4',
       'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'target'],
      dtype='object')

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
# for col in cat_col:
#     df_train[col] = df_train[col].apply(hash_cat_two)
#     print("done ", col)

In [16]:
X = df_train.drop(["id", "target"], axis=1)
y = df_train["target"]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=111)

# cross validation

In [18]:
from sklearn.model_selection import cross_validate

In [19]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
tree = DecisionTreeClassifier()

In [22]:
for col in cat_col:
    X_train[col] = X_train[col].apply(hash_cat_two)
    print("done ", col)

/home/cpu11453/miniconda3/envs/nlp/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

done  cat0
done  cat1
done  cat2
done  cat3
done  cat4
done  cat5
done  cat6
done  cat7
done  cat8
done  cat9
done  cat10
done  cat11
done  cat12
done  cat13
done  cat14
done  cat15
done  cat16
done  cat17
done  cat18

In [23]:
cross_validate(tree, X_train, y_train, cv=5)

{'fit_time': array([5.76384544, 5.81504869, 5.55525923, 5.19848347, 5.25320148]),
 'score_time': array([0.0196352 , 0.02331161, 0.02006912, 0.02045512, 0.0198648 ]),
 'test_score': array([0.7656713 , 0.76310185, 0.76655093, 0.7656713 , 0.76599537])}

In [24]:
tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [25]:
# ?gbm.train

In [26]:
df_test = pd.read_csv(test_path)
df_test.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,150904,A,F,A,A,G,BI,A,AN,BM,...,0.637685,0.301544,0.790893,0.488015,0.614380,0.539349,0.411866,0.661432,0.486744,0
1,168869,A,F,C,A,E,BI,C,AK,AX,...,0.324491,0.349067,0.786160,0.554579,0.486805,0.390730,0.375106,0.569209,0.459002,0
2,125842,A,N,A,A,E,BI,C,E,BM,...,0.279434,0.346821,0.208250,0.618792,0.494801,0.367308,0.387041,0.474525,0.402563,0
3,37203,A,I,A,A,E,BI,A,N,AF,...,0.305931,0.321362,0.596346,0.797107,0.575397,0.326885,0.353614,0.258005,0.357856,0
4,353336,A,M,C,A,E,BI,G,E,BM,...,0.190550,0.578725,0.777659,0.773500,0.703389,0.239250,0.242388,0.283970,0.311369,1

In [27]:
df_test2 = df_test.drop(["id", "target"], axis=1)

In [28]:
# for col in cat_col:
#     df_test2[col] = df_test2[col].apply(hash_cat_two)
#     print("done ", col)

In [29]:
# ?bst

In [30]:
for col in cat_col:
    X_test[col] = X_test[col].apply(hash_cat_two)
    print("done ", col)

/home/cpu11453/miniconda3/envs/nlp/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

done  cat0
done  cat1
done  cat2
done  cat3
done  cat4
done  cat5
done  cat6
done  cat7
done  cat8
done  cat9
done  cat10
done  cat11
done  cat12
done  cat13
done  cat14
done  cat15
done  cat16
done  cat17
done  cat18

In [31]:
df_test2.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,A,F,A,A,G,BI,A,AN,BM,E,...,0.616445,0.637685,0.301544,0.790893,0.488015,0.614380,0.539349,0.411866,0.661432,0.486744
1,A,F,C,A,E,BI,C,AK,AX,A,...,0.350460,0.324491,0.349067,0.786160,0.554579,0.486805,0.390730,0.375106,0.569209,0.459002
2,A,N,A,A,E,BI,C,E,BM,L,...,0.323298,0.279434,0.346821,0.208250,0.618792,0.494801,0.367308,0.387041,0.474525,0.402563
3,A,I,A,A,E,BI,A,N,AF,E,...,0.331975,0.305931,0.321362,0.596346,0.797107,0.575397,0.326885,0.353614,0.258005,0.357856
4,A,M,C,A,E,BI,G,E,BM,A,...,0.240007,0.190550,0.578725,0.777659,0.773500,0.703389,0.239250,0.242388,0.283970,0.311369

In [33]:
tree = model.predict(df_test2, num_iteration=model.best_iteration)

NameError: name 'model' is not defined

In [34]:
df_pred_final = df_test[["id"]]

In [ ]:
df_pred_final["target"] = pred

In [ ]:
df_pred_final.head()

In [ ]:
# df_pred_final.to_csv('submission.csv', index=False)

In [ ]:
pred

# evaluation

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
y_test_label = df_test["target"]

In [ ]:
roc_auc_score(y_test_local, pred)